= form_for [category, product, pedigree]  do |f|
  - if pedigree.errors.any?
    #error_explanation
      %h2= "#{pluralize(pedigree.errors.count, "error")} prohibited this pedigree from being saved:"
      %ul
        - pedigree.errors.full_messages.each do |msg|
          %li= msg

  %table.table.table-bordered
    %tr
      %th{:rowspan => "4"}= f.text_field :father
      %td{:rowspan => "2"}= f.text_field :f_father
      %td= f.text_field :f_f_father
    %tr
      %td= f.text_field :f_f_mother
    %tr
      %td{:rowspan => "2"}= f.text_field :f_mother
      %td= f.text_field :f_m_father
    %tr
      %td= f.text_field :f_m_mother
    %tr
      %th{:rowspan => "4"}= f.text_field :mother
      %td{:rowspan => "2"}= f.text_field :m_father
      %td= f.text_field :m_f_father
    %tr
      %td= f.text_field :m_f_mother
    %tr
      %td{:rowspan => "2"}= f.text_field :m_mother
      %td= f.text_field :m_m_father
    %tr
      %td= f.text_field :m_m_mother
      
  .actions
    = f.submit 'Save'

