%table.table.table-bordered
  %tr
    %th{:rowspan => "4"}= product.pedigree.father
    %td{:rowspan => "2"}= product.pedigree.f_father
    %td= product.pedigree.f_f_father
  %tr
    %td= product.pedigree.f_f_mother
  %tr
    %td{:rowspan => "2"}= product.pedigree.f_mother
    %td= product.pedigree.f_m_father
  %tr
    %td= product.pedigree.f_m_mother
  %tr
    %th{:rowspan => "4"}= product.pedigree.mother
    %td{:rowspan => "2"}= product.pedigree.m_father
    %td= product.pedigree.m_f_father
  %tr
    %td= product.pedigree.m_f_mother
  %tr
    %td{:rowspan => "2"}= product.pedigree.m_mother
    %td= product.pedigree.m_m_father
  %tr
    %td= product.pedigree.m_m_mother

- if user_signed_in?
  = link_to "Edit pedigree", edit_category_product_pedigree_path(category.id, product.id, product.pedigree.id), class: "btn btn-large btn-primary"
