!!!
%html{ lang: 'en' }
  %head
    %title ZT Sport Horses
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:content => "cf8375f7486ba89a-4b5c006fafd2febe-g5c3923a42edab87a-1d", :name => "google-translate-customization"}

  %body
    = render 'layouts/navigation'

    .container.main
      %div
        -flash.each do |type, msg|
          %div{ class: "alert alert-#{type}" }
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %strong=msg

      = yield
